body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

.navigation {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}

.navigation .container {
    padding: 1em 0 0.9em 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.navigation .container .logo {
    padding: 0 1em;
    width: 100px;
}

.navigation .container .logo:hover {
    cursor: pointer;
}

.search-bar {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    min-width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-text {
    color: #8e8e8e;
    font-size: 0.85px;
    font-weight: 300;
}

.search-icon {
    width: 40px;
    opacity: 0.4;
    margin-right: 0.3em;
}

.menu {
    display: flex;
    padding-right: 1.5em;
}

.icon {
    margin-right: 1.5em;
    width: 43px;
    height: 43px;
}

.icon:hover {
    cursor: pointer;
}

.story-border {
    padding: 2px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-radius: 50%;
}

.profileIcon {
    border-radius: 50%;
    border: 2px solid white;
    display: block;
}

.profileIcon:hover {
    cursor: pointer;
}

.profileIcon.small {
    width: 35px;
    height: 35px;
}

.profileIcon.medium {
    width: 45px;
    height: 45px;
}

.profileIcon.big {
    width: 60px;
    height: 60px;
}

main {
    background-color: #fafafa;
    margin-top: 60px;
}

main .container {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    max-width: 1000px;
}

a {
    text-decoration: none;
    color: #0095f6;
    font-size: 0.9em;
    font-weight: 500;
}

.stories {
    display: flex;
    align-content: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 2em 0 1.5em 0;
    height: 7.4em;
    overflow: hidden;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0.5em;
}

.story:first-child {
    margin-left: 1em;
}

.story:last-child {
    margin-right: 1em;
}

.account-name {
    font-size: 0.65em;
    margin: 0.4em;
}

.cards {
    width: 600px;
}

.profile {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 0.85em;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    max-width: 180px;
}

.text-container.account-name {
    font-weight: 500;
    margin-bottom: 5px;  
}

.text-container.account-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.caption {
    color: #8e8e8e;
}

.caption.small {
    font-size: 0.8em;
}

a {
    text-align: left;
    width: 100%;
}

.sidebar {
    width: 320px;
    padding: 7em 2em 0 2em;
}



@media only screen and (max-width: 500px) {
    .search {
        display: none;
    }
}


@media only screen and (max-width: 1024px) {
    main .container {
      justify-content: center !important;
    }
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .stories {
        margin: 0 0 0.5em 0;
    }
}

@media only screen and (max-width: 600px) {
    .cards {
       width: 100%;
    }
}